<template>
  <main class="weather">
    <div class="wrapper">
      <div class="up">
        <form class="form" @submit.prevent="getWeather">
          <transition name="fade">
            <div
              class="error"
              v-if="error"
            >{{error}}</div>
          </transition>
          <input
            v-model="city"
            type="text"
            name="city"
            placeholder="Введите город">
          <button type="submit">ok</button>
        </form>
        <div class="metric">
          <button
            :class="{active: celsius}"
            @click="celsius=true"
          >C</button>
          <button
            :class="{active: !celsius}"
            @click="celsius=false"
          >F</button>
        </div>
      </div>
      <div class="current">
        <div>
          <div class="icon">
            <img :src="weather.icon" :alt="weather.icon">
          </div>
          <p class="temperature">{{temperature}}&deg</p>
        </div>
        <p class="description">{{weather.description}}</p>
      </div>
      <div class="down">
        <div class="additional">
          <div class="title">Ветер</div>
          <div class="val">{{weather.wind}} м/с, {{weather.wind_dir}}</div>
        </div>
        <div class="additional">
          <div class="title">Давление</div>
          <div class="val">{{weather.pressure}} мм рт. ст.</div>
        </div>
        <div class="additional">
          <div class="title">Влажность</div>
          <div class="val">{{weather.humidity}} %</div>
        </div>
        <div class="additional">
          <div class="title">Облачность</div>
          <div class="val">{{weather.cloudy}} %</div>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
  import axios from 'axios';

  function windDirection(deg) {
    if (deg >= 0 && deg <= 360) {
      let val = Math.round(deg/45);
      let dir = ['северный', 'северо-восточный', 'восточный', 'юго-восточный', 'южный', 'юго-западный', 'западный', 'северо-западный', 'северный'];
      return dir[val];
    } else {
      return '';
    }
  }

  export default {
    data() {
      return {
        appid: '0fcb4dd1e89a55c5dcdefd0e25a731b9',
        city: '',
        weather: {
          icon: '/img/sun.svg',
          temperature: '--',
          description: '--',
          wind: '--',
          wind_dir: '--',
          pressure: '--',
          humidity: '--',
          cloudy: '--'
        },
        condition: {
          SClouds: ['Переменная облачность', '/img/partly cloudy.svg'],
          Clouds: ['Пасмурно', '/img/cloud.svg'],
          Rain: ['Дождь', '/img/rain.svg'],
          Snow: ['Снег', '/img/rain.svg'],
          Thunderstorm: ['Гроза', '/img/storm.svg'],
          Clear: ['Ясно', '/img/sun.svg']
        },
        celsius: true,
        error: null
      }
    },
    computed: {
      temperature() {
        if (this.celsius) {
          return this.weather.temperature;
        } else {
          if (isNaN(this.weather.temperature)) {
            return '--'
          }
          return Math.round(this.weather.temperature * 1.8 + 32);
        }
      }
    },
    methods: {
      getWeather() {
        axios.get(`https://api.openweathermap.org/data/2.5/forecast?q=${this.city}&units=metric&appid=${this.appid}`)
          .then(result => {
            let condition = result.data.list[0].weather[0].main;
            if (condition === 'Clouds' && result.data.list[0].clouds.all < '50%'){
              condition = 'SClouds';
            }
            if (!this.condition.hasOwnProperty(condition)) {
              condition = 'Clear';
            }
            this.weather = {
              icon: this.condition[condition][1],
              temperature: Math.round(result.data.list[0].main.temp),
              description: this.condition[condition][0],
              wind: Math.round(result.data.list[0].wind.speed),
              wind_dir: windDirection(result.data.list[0].wind.deg),
              pressure: Math.round(0.75008 * result.data.list[0].main.pressure),
              humidity: result.data.list[0].main.humidity,
              cloudy: result.data.list[0].clouds.all
            };
          }, error => {
            this.error = error.response.data.message;
            setTimeout(() => {
              this.error = null;
            }, 5000)
          });
      }
    }
  }

</script>

<style lang="scss">
  .weather {
    width: 100%;
    background: #498CEC;
  }
  .wrapper {
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  // ******** UP **********
  .up {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 81px 10px 10px;

    @media (max-width: 450px) {
      flex-direction: column-reverse;
      padding-top: 30px;
    }
  }
  .form {
    $height: 97px;
    $height720: 65px;
    display: flex;
    position: relative;

    @media (max-width: 450px) {
      align-self: center;
    }

    input {
      font-family: 'Proxima Nova', sans-serif;
      font-size: 1.66rem;
      padding: 32px;
      height: $height;
      border: none;
      border-radius: 8px 0 0 8px;

      @media (max-width: 720px) {
        padding: 15px;
        height: $height720;
        width: 220px;
      }
      @media (max-width: 355px) {
        width: 200px;
      }
    }
    button {
      font-family: 'Proxima Nova', sans-serif;
      height: $height;
      width: $height;
      color: #1086FF;
      text-transform: uppercase;
      font-size: 1.66rem;
      border: none;
      border-radius: 0 8px 8px 0;
      background-color: #fff;

      @media (max-width: 720px) {
        height: $height720;
      }

      &:hover {
        background-color: #ebebeb;
      }
    }
  }
  .error {
    position: absolute;
    left: 0;
    bottom: -55px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #fff587;
    color: #ff3b4d;
    border-radius: 8px;
  }

  .metric {
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 8px;

    @media (max-width: 450px) {
      align-self: flex-end;
      margin-bottom: 10px;
    }

    &::before {
      content: '\00B0';
      position: absolute;
      left: -15px;
      font-family: 'PT Sans', sans-serif;
      opacity: 0.4;
    }
    .active {
      background: rgba(255, 255, 255, 0.2);
      opacity: 1;
    }
    button {
      background: transparent;
      color: #fff;
      opacity: 0.4;
      border: none;
      width: 39px;
      height: 29px;

      &:first-child {
        border-radius: 8px 0 0 8px;
      }
      &:last-child {
        border-radius: 0 8px 8px 0;
      }
    }

  }

  // ********** CURRENT **********
  .current {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    >div {
      display: flex;
      align-items: center;
      max-width: 100%;
    }
  }
  .icon {
    width: 200px;
    img {
      width: 100%;
    }
  }
  .temperature {
    font-family: "Proxima Nova Cond", sans-serif;
    font-size: 8.66rem;
  }
  .description {
    font-size: 1.38rem;
  }

  // ******* DOWN *********
  .down {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 100px 20px 100px;
  }
  .additional {
    width: 20%;

    @media (max-width: 720px) {
      width: 50%;
      margin-top: 35px;
    }
  }
  .title {
    opacity: 0.6;
    margin-bottom: 10px;
  }
  .val {
    font-size: 1.38rem;
  }

  // ******** ANIMATION *********
  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
  }
</style>