<template>
  <div id="app">
    <Weather></Weather>
  </div>
</template>

<script>
  import Weather from './components/weather'

export default {
  name: 'app',
  components: {
    Weather
  }
}
</script>

<style lang="scss">
  @import url('assets/style/reset.scss');
  @import url('assets/style/fonts.scss');

  html {
    box-sizing: border-box;
    font-family: 'Proxima Nova', sans-serif;
    font-size: 18px;
    color: #fff;

    @media (max-width: 720px) {
      font-size: 15px;
    }
  }
  *, *::before, *::after {
    box-sizing: inherit;
  }
</style>
